<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Personajes de Harry Potter</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="shortcut icon" href="./icon/escudo2.png" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
 
  <body>
    <div id="app">
      <header>
        <nav class="navbar bg-black">
          <div class="container-fluid">
            <a class="navbar-brand text-white"
              ><img src="./img/hp-logo2.png" alt=""
            /></a>
            <form class="d-flex" role="search">
              <input
                v-model="buscador"
                class="form-control me-2 search"
                type="search"
                placeholder="Search by name"
                aria-label="Search"
              />
              <button class="btn btn-outline-light" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg></button>
            </form>
          </div>
        </nav>
      </header>
      <main class="">
        <!-- estructura -->
        <div class="d-flex flex-column col-12" id="padre">
          <section class="d-flex justify-content-center">
            <img src="./img/Albus_Dumbledore.jpg" alt="" />
            <img src="./img/voldemort.jpeg" alt="" />
            <img src="./img/remus-lupin-harry-potter.png" alt="" />
            <img src="./img/malfoy.jpg" alt="" />
            <img src="./img/Hermione_Granger_poster.jpg" alt="" />
            <img src="./img/P5_Harry_Potter.webp" alt="" />
            <img src="./img/Ron_Weasley_poster.jpg" alt="" />
            <img src="./img/snape.PNG" alt="" />
            <img src="./img/hagrid.jpg" alt="" />
            <img src="./img/BellatrixLestrange.webp" alt="" />
            <img src="./img/Dobby_el_elfo.PNG.webp" alt="" />
          </section>
          <div class="row">
            <div class="col-2 p-0">
              <div>
                <div
                  id="filtro-casas"
                  class="p-4 d-flex flex-column justify-content-around"
                >
                  {{filtroCasas}}
                  <h4>Houses</h4>

                  <div
                    v-for="casa in categoriasCasas"
                    class="d-flex form-check-inline ms-3"
                  >
                    <input
                      v-model="categoriasSeleccionadas"
                      class="form-check-input"
                      type="checkbox"
                      :id="casa"
                      :value="casa"
                    />
                    <label class="form-check-label text-white ms-4" :for="casa"
                      >{{casa}}</label
                    >
                  </div>
                </div>
                <div
                  id="filtro-linaje"
                  class="p-4 d-flex flex-column justify-content-around"
                >
                  {{ filtroLinaje}}
                  <h4>Ancestry</h4>
                  <div
                    v-for="ancestry in categoriasLinaje"
                    class="form-check form-switch d-flex align-items-start form-check-inline ms-2"
                  >
                    <input
                      v-model="linajeSeleccionado"
                      class="form-check-input d-flex"
                      type="checkbox"
                      role="switch"
                      :id="ancestry"
                      :value="ancestry"
                    />
                    <label
                      class="form-check-label ms-md-3 text-white"
                      :for="ancestry"
                      >{{ancestry === "" ? "no-info" : ancestry}}</label
                    >
                  </div>
                </div>
              </div>
              <div class="row">AUTORES - FELIPE</div>
            </div>
              <div class="col-10 container p-0">
                  <div class="row"> favorito</div>
                  <div class="row">
                      <div class="botoon col-1">col-1</div>
                      <div class="cartas col-8">col-8
                          <!-- <div></div> -->
                      </div>
                      <div class="botoon col-1"> col-1</div>
                  </div>
              </div>
          </div>

      </div>

        <!-- fin estructura -->


        

        <div id="mainDiv" class="container-fluid text-center">
          <div class="row">
            

            <!-- favoritos -->
            <div v-if="favoritos.length > 0" class="d-flex flex-wrap col-10">
              <h2 class="text-center w-100">Favorite</h2>
              <div
                v-for=" personaje in favoritos"
                class=" container text-center mb-2 mt-2 icon-link-hover bg-warning"
                style="width: 18rem"
              >
              
                  <img
                    :src="personaje.image ? personaje.image : urlImagen"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{personaje.name}}</h5>
                    <p class="card-text">{{personaje.ancestry}}</p>
                    <button
                      @click="mostrarModal(personaje)"
                      type="button"
                      class="btn btn-dark"
                      data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop"
                    >
                      More Information
                    </button>
                    <button @click="eliminarFavorito(personaje)" class="btn">
                      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-bookmark-star-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
                      </svg>
                        <path
                          d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z"
                        />
                        <path
                          d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              

              <!-- aqui se acaba favoritos -->

            <!-- cards -->

            
          </div>
        </div>
        <!-- Modal -->
        <div
          class="modal fade"
          id="staticBackdrop"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content text-c fondoPersonaje">
              <div class="modal-header">
                <h1
                  class="modal-title col-11 text-center nombre-personaje"
                  id="staticBackdropLabel"
                >
                  <i class="fas fa-user"></i> {{ personajeAMostrar ?
                  personajeAMostrar.name : '' }}
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div
                class="modal-body d-flex gap-5 imagenPersonaje"
                v-if="personajeAMostrar"
              >
                <div class="img-fluid rounded mx-auto d-block">
                  <img
                    class="img-fluid rounded mx-auto d-block"
                    :src="personajeAMostrar.image || urlImagen"
                    alt=""
                  />
                </div>
                <div>
                  <p class="fs-4">
                    <strong><i class="fas fa-home"></i> House:</strong>
                    {{ personajeAMostrar ? personajeAMostrar.house : '' }}
                  </p>
                  <p class="fs-4">
                    <strong><i class="fas fa-hat-wizard"></i> Wizard:</strong>
                    {{ personajeAMostrar ? personajeAMostrar.wizard : '' }}
                  </p>
                  <p class="fs-4">
                    <strong><i class="fas fa-dragon"></i> Species:</strong>
                    {{ personajeAMostrar ? personajeAMostrar.species : '' }}
                  </p>
                  <p class="fs-4">
                    <strong><i class="fas fa-history"></i> Ancestry:</strong>
                    {{ personajeAMostrar ? personajeAMostrar.ancestry : '' }}
                  </p>
                  <p class="fs-4">
                    <strong
                      ><i class="fa-solid fa-wand-magic-sparkles"></i>
                      Patronus:</strong
                    >
                    {{ personajeAMostrar ? personajeAMostrar.patronus : '' }}
                  </p>
                  <p class="fs-4">
                    <strong
                      ><i class="fa-solid fa-wand-magic"></i> Wand:</strong
                    >
                    {{ personajeAMostrar ? personajeAMostrar.wand.wood : '' }}
                  </p>
                  <p class="fs-4">
                    <strong><i class="fas fa-user-tie"></i> Actor:</strong>
                    {{ personajeAMostrar ? personajeAMostrar.actor : '' }}
                  </p>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Return to Wizarding World.!
                </button>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./index.js" type="module"></script>
  </body>
</html>
