<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Personajes de Harry Potter</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="styles.css" />
  <link rel="shortcut icon" href="./icon/escudo2.png" type="image/x-icon" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
  <div id="app">
    <header>
      <nav class="navbar bg-black">
        <div class="container-fluid">
          <a class="navbar-brand text-white">Wizard World</a>
          <form class="d-flex" role="search">
            <input v-model="buscador" class="form-control me-2 search" type="search" placeholder="Search"
              aria-label="Search" id="buscador" />
            <button class="btn btn-outline-info" type="submit">Buscar</button>
          </form>
        </div>
      </nav>
    </header>
    <main>
      <section class="d-flex justify-content-center">
        <img src="./img/P5_Harry_Potter.webp" alt="" />
        <img src="./img/Hermione_Granger_poster.jpg" alt="" />
        <img src="./img/Ron_Weasley_poster.jpg" alt="" />
        <img src="./img/malfoy.jpg" alt="" />
        <img src="./img/voldemort.jpeg" alt="" />
        <img src="./img/Albus_Dumbledore.jpg" alt="" />
        <img src="./img/snape.PNG" alt="" />
        <img src="./img/remus-lupin-harry-potter.png" alt="" />
        <img src="./img/hagrid.jpg" alt="" />
        <img src="./img/BellatrixLestrange.webp" alt="" />
        <img src="./img/Dobby_el_elfo.PNG.webp" alt="" />
      </section>

      <div id="mainDiv" class="container-fluid text-center">
        <div class="row">

          <div class="row col-2">
            <div>
              <div id="filtro-casas" class="p-4 d-flex flex-column justify-content-around">
                {{filtroCasas}}
                <h4>Filtro por casas</h4>

                <div v-for="casa in categoriasCasas" class="d-flex form-check-inline ms-3">
                  <input v-model="categoriasSeleccionadas" class="form-check-input" type="checkbox" :id="casa"
                    :value="casa" />
                  <label class="form-check-label text-white ms-4" :for="casa">{{casa}}</label>
                </div>
              </div>
              <div id="filtro-linaje" class="p-4 d-flex flex-column justify-content-around">
                {{ filtroLinaje}}
                <h4>Filtro por Linaje</h4>
                <div v-for="ancestry in categoriasLinaje"
                  class="form-check form-switch d-flex align-items-start form-check-inline ms-2">
                  <input v-model="linajeSeleccionado" class="form-check-input d-flex " type="checkbox" role="switch"
                    :id="ancestry" :value="ancestry" />
                  <label class="form-check-label ms-md-3 text-white " :for="ancestry">{{ancestry === "" ? "no-info" : ancestry}}</label>
                </div>

              </div>
            </div>
            <div class="row">AUTORES - FELIPE</div>
          </div>
          <!-- cards -->
          

         
          <div class="col-10 d-flex flex-wrap justify-content-center">
            <div v-if="personajes.length == 0" class=" d-flex align-self-center fs-1">
            <h2>Sorry, your search was not found</h2>
          </div>
            <div v-for="personaje in personajes" class="card container text-center" style="width: 18rem">
              <img :src="personaje.image ? personaje.image : urlImagen" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">{{personaje.name}}</h5>
                <p class="card-text">{{personaje.ancestry}}</p>
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  More Information
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content text-c fondoPersonaje">
        <div class="modal-header">
          <h1 class="modal-title col-11 text-center nombre-personaje" id="staticBackdropLabel">
            <i class="fas fa-user"></i> {{ con la variable }}
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex gap-5 imagenPersonaje">
          <div class="img-fluid rounded mx-auto d-block">
            <img class="img-fluid rounded mx-auto d-block" :src="dataPersonaje.image" alt="" />
          </div>
          <div>
            <p class="fs-4">
              <strong><i class="fas fa-home"></i> House:</strong>
              {{ dataPersonaje.house }}
            </p>
            <p class="fs-4">
              <strong><i class="fas fa-hat-wizard"></i> Wizard:</strong>
              {{ dataPersonaje.wizard }}
            </p>
            <p class="fs-4">
              <strong><i class="fas fa-dragon"></i> Species:</strong>
              {{ dataPersonaje.species }}
            </p>
            <p class="fs-4">
              <strong><i class="fas fa-history"></i> Ancestry:</strong>
              {{ dataPersonaje.ancestry }}
            </p>
            <p class="fs-4">
              <strong><i class="fa-solid fa-wand-magic-sparkles"></i>
                Patronus:</strong>
              {{ dataPersonaje.patronus }}
            </p>
            <p class="fs-4">
              <strong><i class="fa-solid fa-wand-magic"></i> Wand:</strong>
              {{ dataPersonaje.wand.wood }}
            </p>
            <p class="fs-4">
              <strong><i class="fas fa-user-tie"></i> Actor:</strong>
              {{ dataPersonaje.actor }}
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Return to Wizarding World.!
          </button>
        </div>
      </div>
    </div>
  </div>
  </main>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./index.js" type="module"></script>
</body>

</html>