@font-face {
    font-family: 'HarryPotterFont';
    src: url('./fuenteHarry/HARRYP__.TTF') format('truetype'); 
}

.nombre-personaje {
    font-family: 'HarryPotterFont', cursive;
    font-size: 3.5rem;
    
}

.imagenPersonaje {
    display: flex;
    align-items: center;
    /* background-image: url(https://img.freepik.com/fotos-premium/fondo-textura-papel-pergamino-antiguo-fondo-pantalla-vintage_765582-522.jpg); */
    
}

.fondoPersonaje {
    background-image: url(https://img.freepik.com/fotos-premium/fondo-textura-papel-pergamino-antiguo-fondo-pantalla-vintage_765582-522.jpg);
}

#cards-div {
    background-image: url(./img/cardTexture3.webp);
    background-size: contain;
}
 .card .img {
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 300px;
   align-self: center;
 }

.card-img-top {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

