@font-face {
    font-family: 'HarryPotterFont';
    src: url('./font/HARRYP__.TTF') format('truetype'); 
}

.nombre-personaje {
    font-family: 'HarryPotterFont', cursive;
    font-size: 3.5rem;
    
}

.imagenPersonaje {
    display: flex;
    align-items: center;
    
}

.fondoPersonaje {
    background-image: url(https://img.freepik.com/fotos-premium/fondo-textura-papel-pergamino-antiguo-fondo-pantalla-vintage_765582-522.jpg);
}

#cards-div {
    background-image: url(./img/cardTexture3.webp);
    background-size: contain;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%
    }
    to {
        opacity: 1;
        scale: 100%
    }
}

.card {
    view-timeline-name: --card;
    view-timeline-axis: block;

    animation-timeline: --card;
    animation-name: show;

    animation-range: entry 10% cover 40%; 
    animation-fill-mode: both;
}